<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--    <form action = "/emotion_recognizer" method = "POST"-->
<!--         enctype = "multipart/form-data">-->
<!--         <input type = "file" name = "image" />-->
<!--         <input type = "submit"/>-->
<!--      </form>-->
<!--</body>-->
<!--</html>-->

<html>
  <head>
    <title>Video Streaming Demonstration</title>
  </head>
  <body>
    <h1>Video Streaming Demonstration</h1>
    <img id="bg" src="{{ url_for('video_feed') }}">
  </body>
</html>